<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="marginR10">
        <a routerLink="/">List Coins</a>
      </li>
      <li class="marginR10">
        <a routerLink="/settings">Settings</a>
      </li>
      <li>
        <button class="buttonStyle" (click)="refresh()">Refresh</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <span (click)="usd()">USD</span>
      <span>|</span>
      <span (click)="eur()">EUR</span>
      <span>|</span>
      <span (click)="cny()">CNY</span>
    </form>
  </div>
</nav>
