<div class="container"style="margin-top: 20px;">
  <div class="row hover">
    <div class="col-md-6">Rank: </div>
    <div class="col-md-6">{{data.id}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Name: </div>
    <div class="col-md-6">{{data.name}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Symbol: </div>
    <div class="col-md-6">{{data.symbol}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Price 24h: </div>
    <div class="col-md-6">{{data.quote.USD.price}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Volume: </div>
    <div class="col-md-6">{{data.quote.USD.volume_24h}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Volume: </div>
    <div class="col-md-6">{{data.quote.USD.volume_24h}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Market cap: </div>
    <div class="col-md-6">{{data.quote.USD.market_cap}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">Price in BTC: </div>
    <div class="col-md-6"></div>
  </div>
  <div class="row hover">
    <div class="col-md-6">1h change: </div>
    <div class="col-md-6">{{data.quote.USD.percent_change_1h}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">24h change: </div>
    <div class="col-md-6">{{data.quote.USD.percent_change_24h}}</div>
  </div>
  <div class="row hover">
    <div class="col-md-6">7d change: </div>
    <div class="col-md-6">{{data.quote.USD.percent_change_7d}}</div>
  </div>
</div>
